@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #003366;
  --foreground: #ffffff;
  --toastify-color-dark: #003366;
  --toastify-color-info: #ffffff;
  --toastify-color-success: #ffffff;
  --toastify-color-error: #ffffff;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: #ffffff;
  --toastify-icon-color-error: var(--toastify-color-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003366;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply m-0 bg-[#003366];
}

/* Button */
.btn {
  @apply rounded-md px-1.5 py-1.5 font-mono text-sm font-medium transition-all duration-200;
}

.btn-primary {
  @apply border border-white/10 bg-blue-900/50 text-white hover:border-white/20 hover:bg-blue-900/60;
}

.btn-primary:disabled {
  @apply cursor-not-allowed border border-white/25 bg-zinc-950 text-white;
}

.btn-inactive {
  @apply border border-white/25 bg-zinc-950 text-white hover:border-white/40 hover:bg-zinc-900;
}

.btn-secondary {
  @apply border border-white/10 bg-indigo-950 text-white hover:border-white/25;
}

.grain {
  background: linear-gradient(to bottom,
      theme("colors.white / 0.1"),
      theme("colors.white / 0.05"));
}

/* Gradient border */
.gradient-border {
  position: relative;
  background-clip: padding-box;
  border: solid 1px transparent;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: theme("colors.white / 0.1");
}

input {
  outline: none !important;
}